/*
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}*/

footer {
    right: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
}
.bg-primary-custom{
    background-color: #034078;
}