<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
/>
<div class="container">
  <div class="row">
    <div class="col-xl-4 col-sm-12 mt-5">
      <div class="row">
        <div *ngFor="let user of this.match.players; let i = index" class="card mb-4">
          <div id="user_{{i}}" class="card-body" [ngStyle]="{
              'background-color': checkCurrent(user) ? '#96dba8' : ''
            }">
            <div class="media">
              <img src="{{user.image}}" class="mr-3 rounded-circle" alt="User Avatar" width="64" height="64" />
              <div class="media-body">
                <h5 class="card-title">{{ user.name }}</h5>
                <p class="card-text">
                  <i class="bi bi-envelope"></i> {{ user.email }} <br />
                  <i class="bi bi-geo-alt-fill" style="font-size: 1.5rem"></i>
                  {{ user.city }} <br />
                  <i class="bi bi-thermometer" style="font-size: 1.5rem"></i>
                  {{ user.temperature }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <button id="button_K" (click)="addColor('K')" class="cell-small ml-5" [ngStyle]="getColorStyle('K')"></button>
        <button id="button_B" (click)="addColor('B')" class="cell-small ml-5" [ngStyle]="getColorStyle('B')"></button>
        <button id="button_M" (click)="addColor('M')" class="cell-small ml-5" [ngStyle]="getColorStyle('M')"></button>
        <button id="button_G" (click)="addColor('G')" class="cell-small ml-5" [ngStyle]="getColorStyle('G')"></button>
        <button id="button_O" (click)="addColor('O')" class="cell-small ml-5" [ngStyle]="getColorStyle('O')"></button>
        <button id="button_R" (click)="addColor('R')" class="cell-small ml-5" [ngStyle]="getColorStyle('R')"></button>
        <button id="button_P" (click)="addColor('P')" class="cell-small ml-5" [ngStyle]="getColorStyle('P')"></button>
        <button id="button_Y" (click)="addColor('Y')" class="cell-small ml-5" [ngStyle]="getColorStyle('Y')"></button>
      </div>
    </div>

    <div class="col-xl-8 col-sm-12 mt-5">
      <div class="board-container">
        <div class="board" [style.opacity]="endGame ? 0.2 : 1">
          <div *ngFor="let row of this.matchAux.boardList[0].board; let i = index" class="row">
            <ng-container *ngIf="i !== 0"> <!-- Verifica si no es la primera fila -->
              <button id="button{{i}}_{{j}}" *ngFor="let col of row; let j = index" [ngStyle]="getColorStyle(col)" [disabled]="endGame"
                [ngClass]="{'cell-small': j >= 6, 'cell': j < 6}">
                <span *ngIf="col">{{ col }}</span>
                <span *ngIf="!col"></span>
              </button>
            </ng-container>
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div *ngIf="gameBanner" class="winner-text">
    The winner is {{ this.match.winner?.name }}
  </div>
</div>

<!-- Using *ngIf to toggle display (showToast = true initially) -->
<ngb-alert #alert id="modal-alert" [type]="alertType" *ngIf="showAlert">
  {{ messageAlert }}
</ngb-alert>