<div class="container" style="margin-top: 20px;">
  <div class="row" style="text-align: center;">
    <div class="col">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-info-circle"> How to play </i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5 col-sm-12 mt-5">

      <div id="user_{{i}}" *ngFor="let user of this.match.players; let i = index" class="card mb-4"
        [ngClass]="{'card-border': checkCurrent(user)}">
        <div class="additional">
          <div class="user-card">
            <div class="level center">
              <i class="bi bi-geo-alt-fill"></i>
              {{ user.city }}
            </div>
            <div class="points center">
              <i class="bi bi-thermometer-half"></i>
              {{ user.temperature }}
            </div>
            <img class="mr-3" alt="User Avatar" src="{{user.image}}"
              style="width: 80%; margin-top: 65px; margin-left: 15px;">

          </div>
          <div class="more-info">
            <h1 class="mb-4"><strong>{{ user.name }}</strong></h1>

            <div *ngFor="let umi of user.userMatchesInfo?.games">
              <div class="coords">
                <i *ngIf="umi.gametype === 'MasterMind'" class="bi bi-circle-half"></i>
                <i *ngIf="umi.gametype === 'FourInLine'" class="bi bi-4-circle"></i>
                <span> {{ umi.gametype }}</span>
                <span>{{ umi.value }}/{{user.userMatchesInfo?.total}}</span>
              </div>
            </div>


            <div class="stats">
              <div>
                <div class="title">Matches</div>
                <i class="bi bi-controller"></i>
                <div class="value">{{user.userMatchesInfo?.total}}</div>
              </div>
              <div>
                <div class="title">Win</div>
                <i class="bi bi-trophy"></i>
                <div class="value">{{user.userMatchesInfo?.win}}</div>
              </div>
              <div>
                <div class="title">Draw</div>
                <i class="bi bi-x-lg"></i>
                <div class="value">{{user.userMatchesInfo?.draw}}</div>
              </div>
              <div>
                <div class="title">Lost</div>
                <i class="bi bi-emoji-frown"></i>
                <div class="value">{{user.userMatchesInfo?.lost}}</div>
              </div>

            </div>
          </div>
        </div>
        <div class="general">
          <div class="row">
            <h1 class="mb-4"><strong>{{ user.name }}</strong></h1>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-6 offset-sm-1"><i class="bi bi-envelope"></i> {{ user.email }}</div>
          </div>
          <span class="more"><i class="bi bi-info-circle"></i><em> Mouse over the card for more info</em></span>
        </div>
      </div>
    </div>

    <div class="col-xl-7 col-sm-12 mt-5">
      <div class="row">
        <button id="button_K" (click)="addColor('K')" class="cell-small ml-5" [ngStyle]="getColorStyle('K')"></button>
        <button id="button_B" (click)="addColor('B')" class="cell-small ml-5" [ngStyle]="getColorStyle('B')"></button>
        <button id="button_M" (click)="addColor('M')" class="cell-small ml-5" [ngStyle]="getColorStyle('M')"></button>
        <button id="button_G" (click)="addColor('G')" class="cell-small ml-5" [ngStyle]="getColorStyle('G')"></button>
        <button id="button_O" (click)="addColor('O')" class="cell-small ml-5" [ngStyle]="getColorStyle('O')"></button>
        <button id="button_R" (click)="addColor('R')" class="cell-small ml-5" [ngStyle]="getColorStyle('R')"></button>
        <button id="button_P" (click)="addColor('P')" class="cell-small ml-5" [ngStyle]="getColorStyle('P')"></button>
        <button id="button_Y" (click)="addColor('Y')" class="cell-small ml-5" [ngStyle]="getColorStyle('Y')"></button>
      </div>
      <div class="board-container">
        <div class="board" [style.opacity]="endGame ? 0.2 : 1">
          <div *ngFor="let row of this.matchAux.boardList[0].board; let i = index" class="row">
            <ng-container *ngIf="i !== 0"> <!-- Verifica si no es la primera fila -->
              <button id="button{{i}}_{{j}}" *ngFor="let col of row; let j = index" [ngStyle]="getColorStyle(col)"
                [disabled]="endGame" [ngClass]="{'cell-small': j >= 6, 'cell': j < 6}">
                <span *ngIf="col">{{ col }}</span>
                <span *ngIf="!col"></span>
              </button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div *ngIf="gameBanner" class="winner-text">
    The winner is {{ this.match.winner?.name }}
  </div>
</div>

<!-- Using *ngIf to toggle display (showToast = true initially) -->
<ngb-alert #alert id="modal-alert" [type]="alertType" *ngIf="showAlert">
  {{ messageAlert }}
</ngb-alert>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-circle-half"> How to play MasterMind </i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        The game consists of guessing a randomly generated combination of 6 colors. Players will create a combination
        on each turn. The game will end when one of the players manages to guess the master combination or when the
        attempts run out (6 per player). The player can create combinations using the following colors:
        <div class="row">
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('K')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('B')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('M')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('G')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('O')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('R')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('P')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('Y')"></i>
        </div>
        The combination can have the same color repeated several times.
        <br>
        Successful or failed attempts regarding the master combination are reflected in small black, white, or empty
        balls placed to the right of the combination. The possibilities are: <br>
        <div class="row justify-content-start">
          - <i class="cell-small ml-5" [ngStyle]="getColorStyle('b')"></i> : Both the color and the position were
          guessed correctly.
        </div>
        <div class="row justify-content-start">
          - <i class="cell-small ml-5" [ngStyle]="getColorStyle('w')"></i> : Only the color was guessed, but it's in
          another position.
        </div>
        <div class="row justify-content-start">
        - <i class="cell-small ml-5" [ngStyle]="getColorStyle('-')"></i> : The color is not present in the master combination.
      </div>
        <br>
        The combination generated by the opponent will be hidden because if we could see it, the game would end in very few attempts:
        <div class="row">
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('?')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('?')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('?')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('?')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('?')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('?')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('?')"></i>
          <i class="cell-small ml-5" [ngStyle]="getColorStyle('?')"></i>
        </div>
    </div>
  </div>
</div>