@import "../app.component.css";
@import "./user-card.css";


.winner-text {
  position: fixed;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font-weight: bold;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  text-align: center;
  font-size: 10vmin;
  font-weight: 700;
  outline: none;
  white-space: nowrap;
  animation: netflix_style 3.5s infinite;

}

@keyframes netflix_style {
  0% {
    text-shadow: 0px 0px transparent;
    color: #f3f3f3;
    transform: scale(1.5, 1.5);
  }

  10% {
    text-shadow: 10px 15px #aaa;
    color: #f3f3f3;
    transform: scale(1.5, 1.5);
  }

  15% {
    color: #f3f3f3;
  }

  20% {
    color: #96dba8;
    text-shadow: none;
    transform: scale(1.1, 1.1);
  }

  75% {
    opacity: 1;
  }

  80% {
    opacity: 0;
    color: #96dba8;
    transform: scale(0.85, 0.9);
  }

  100% {
    opacity: 0;
  }
}


.winner-text.ng-hide {
  opacity: 0;
}


.board-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  margin-bottom: 10px;
}

.board {
  background-image: url('https://img.freepik.com/foto-gratis/fondo-suelo-textura-madera-beige_53876-104668.jpg?w=1060&t=st=1704372391~exp=1704372991~hmac=38bb58bb98daee1df5b8c2fb3c205e318db57c691188d980278c2df64ce51c15');
  background-repeat: repeat;
  background-size: cover;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
}

.row {
  display: flex;
  justify-content: center;
}

.cell {
  flex: 1;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 4px 2px 4px;
  background-color: #fff;
  cursor: pointer;
  font-size: 0px;
  font-weight: bold;
  border-image: linear-gradient(to left, #174e83, #45a8e6);
  border: 2px; 
  border-radius: 80%; /* Radio de los bordes para hacerlo redondeado */
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0.15rem 0.15rem 1px rgba(174, 201, 214, 0.5), -0.15rem -0.15rem 1px rgba(79, 131, 156, 0.5), 0.2rem 0.2rem 0.2rem rgba(83, 86, 90, 0.3) inset;
  
}


.cell-small {
  width: 16px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 9px 2px 1px 2px;
  background-color: #fff;
  cursor: pointer;
  font-size: 0px;
  font-weight: bold;
  border-image: linear-gradient(to left, #174e83, #45a8e6);
  border: 2px; 
  border-radius: 80%; 
  transition: background-color 0.3s, color 0.3s;
  box-shadow:  0.2rem 1px rgba(174, 201, 214, 0.1), 0rem -0.15rem 1px rgba(79, 131, 156, 0.5), 0.2rem 0.2rem 0.2rem rgba(83, 86, 90, 0.3) inset;
  z-index: 10;
  position: relative;
}

.cell>span {
  display: block;
  text-align: center;
  width: 100%;
}

.cell>span:nth-child(2) {
  color: #555;
  font-size: 14px;
}

.grey-background {
  background-color: #9E9E9E !important;
}
