<main class="form-signin text-center">
	<!-- Using *ngIf to toggle display (showToast = true initially) -->
<ngb-alert #alert id="modal-alert" [type]="alertType" *ngIf="showAlert">
	{{ messageAlert }}
</ngb-alert>
	<div *ngIf="!login" class="container">
		<div class="row justify-content-center">
			<div class="col-md-12 col-lg-10">
				<div class="wrap d-md-flex">
					<img src="../../assets/logo-no-bg.png" alt="" class="img-fluid" />
					<div class="login-wrap p-4 p-md-5">
						<div class="d-flex">
							<div class="w-100">
								<h3 class="mb-4">Sign In</h3>
							</div>
						</div>
						<form [formGroup]="loginForm" (ngSubmit)="doLogin()" class="mt-4"
							autocomplete="off">
							<div class="form-floating">
								<input type="email" required class="form-control" formControlName="email"
									id="floatingInputEmail"/>
									<label for="floatingEmail">Email</label> <br>
							</div>
							<div class="form-floating">

								<input type="password" class="form-control" formControlName="pwd" id="floatingPassword"/>
								<label for="floatingPassword">Password</label> <br>
							</div>
							<div class="form-group">
								<button id="login" class="w-100 btn btn-lg btn-primary" type="submit">
									Login
								</button>
							</div>
						</form>
						<p class="text-center">Not a member? <a class="nav-link" routerLink="/register">Register</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="login" class="d-flex align-items-center justify-content-center">
		<div class="text-center row">
			<div class="col-md-12">
				<img src="../../assets/lynx-no-bg.png" alt="" class="img-fluid" />
			</div>
			<div class="col-md-12 mt-5">
				<p class="fs-3">
					<span class="text-danger">Opps!</span> u are already loged as
					{{ this.user.name }}.
				</p>
				<a href="index.html" class="btn btn-primary">Go Home</a>
			</div>
		</div>
	</div>
</main>

