<div class="content">
  <div class="container d-flex justify-content-center">
    <div class="row justify-content-center">
      <h2 class="text-center mt-5" style="color: #034078">
        Verification email
      </h2>
      <div class="loading text-center m-5">
        <img src="./../assets/loading.gif" alt="Loading" class="mx-auto" />
      </div>
      <p class="m-5 text-center">Your account is being verified...</p>
    </div>
  </div>

  <div class="info-message" *ngIf="validateEmail == 'true'">
    <span>Your account has been verified successfully!</span>
  </div>
  <div class="error-message" *ngIf="validateEmail == 'false'">
    <span>Error, your account is not verified...</span>
  </div>
</div>
