<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="../assets/logo-no-bg.png" width="70" height="70" alt=""/>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>

      <li *ngIf="!registered" class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
      <li  *ngIf="!registered">
        <a class="nav-link" routerLink="login">Login</a>
      </li>   
      <li *ngIf="registered">
        <a class="nav-link" routerLink="chat">Chat</a>
      </li>

      <li *ngIf="registered" class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Play
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="this.user_paidMatches === 0 ? 'payments' : '4inline'">4 In Line</a>
          <a class="dropdown-item" [routerLink]="this.user_paidMatches === 0 ? 'payments' : 'mastermind'">MasterMind</a>          
        </div>
      </li>
      <li *ngIf="registered">
        <a class="nav-link" routerLink="payments">Buy Credits</a>
      </li>
    </ul>
  </div>
  <div class="m-1" *ngIf="this.user_name">
    <p id="name-user"><strong>{{this.user_name}}</strong></p>
  </div>
  <div class="m-5" *ngIf="this.user_name">
    <span>
      <img class="rounded-circle" src="{{this.user_image}}" style="height : 40px; width : 40px" alt="Descripción de la imagen" width="30" height="30">
    </span>
    <button class="btn btn-danger btn-sm" (click)="closeSession()" >
      Close <i class="fas fa-times"></i>
    </button>
  </div>
</nav>


<!-- Using *ngIf to toggle display (showToast = true initially) -->
<ngb-alert #alert id="modal-alert" [type]="alertType" *ngIf="showAlert">
  {{ messageAlert }}
</ngb-alert>