<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
/>
<div class="container">
  <div class="row">
    <div class="col-xl-4 col-sm-12 mt-5">
      <div *ngFor="let user of this.match.players; let i = index" class="card mb-4">
        <div
          id="user_{{i}}"
          class="card-body"
          [ngStyle]="{
            'background-color': checkCurrent(user) ? '#96dba8' : ''
          }"
        >
          <div class="media">
            <img
              class="rounded-circle mr-3"
              src="{{ user.image }}"
              alt="User Avatar"
              width="64"
              height="64"
            />
            <div class="media-body">
              <div class="row">
                <div class="col-10">
                  <h5 class="card-title">{{ user.name }}</h5>
                  <p class="card-text">
                    <i class="bi bi-envelope"></i> {{ user.email }} <br />
                    <i class="bi bi-geo-alt-fill" style="font-size: 1.5rem"></i>
                    {{ user.city }} <br />
                    <i class="bi bi-thermometer" style="font-size: 1.5rem"></i>
                    {{ user.temperature }}
                  </p>
                </div>
                <div class="col-2">
                  <div
                    class="cell-small"
                    [ngStyle]="{
                      'background-color':
                        user.color === 'R'
                          ? 'red'
                          : user.color === 'Y'
                          ? 'yellow'
                          : ''
                    }"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-8 col-sm-12 mt-5">
      <div class="board-container">
        <div class="board" [style.opacity]="endGame ? 0.2 : 1">
          <div
            *ngFor="let row of this.match.boardList[0].board; let i = index"
            class="row"
          >
            <button id="button{{i}}_{{j}}"
              (click)="doMovement(i, j)"
              *ngFor="let col of row; let j = index"
              class="cell rounded-circle"
              [ngStyle]="{
                'background-color':
                  col === 'R' ? 'red' : col === 'Y' ? 'yellow' : '',
                color: col === 'R' ? 'red' : col === 'Y' ? 'yellow' : 'white'
              }"
              [disabled]="endGame"
            >
              <span *ngIf="col">{{ col }}</span>
              <span *ngIf="!col"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div *ngIf="gameBanner" class="winner-text">
    The winner is {{ this.match.winner?.name }}
  </div>
</div>

<!-- Using *ngIf to toggle display (showToast = true initially) -->
<ngb-alert #alert id="modal-alert" [type]="alertType" *ngIf="showAlert">
  {{ messageAlert }}
</ngb-alert>
