<div class="container" style="margin-top: 20px;">
  <div class="row" style="text-align: center;">
    <div class="col">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-info-circle"> How to play </i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-5 col-sm-12 mt-5">
      <div id="user_{{i}}" *ngFor="let user of this.match.players; let i = index" class="card mb-4" [ngClass]="{
        'card-border': checkCurrent(user)
      }">
        <div class="additional" [ngClass]="{
          'gradient-red': user.color === 'R',
          'gradient-yellow': user.color === 'Y'}">
          <div class="user-card">
            <div class="level center">
              <i class="bi bi-geo-alt-fill"></i>
              {{ user.city }}
            </div>
            <div class="points center">
              <i class="bi bi-thermometer-half"></i>
              {{ user.temperature }}
            </div>
            <img class="mr-3" alt="User Avatar" src="{{user.image}}"
              style="width: 80%; margin-top: 65px; margin-left: 15px;">

          </div>
          <div class="more-info">
            <h1 class="mb-4"><strong>{{ user.name }}</strong></h1>

            <div *ngFor="let umi of user.userMatchesInfo?.games">
              <div class="coords">
                <i *ngIf="umi.gametype === 'MasterMind'" class="bi bi-circle-half"></i>
                <i *ngIf="umi.gametype === 'FourInLine'" class="bi bi-4-circle"></i>
                <span> {{ umi.gametype }}</span>
                <span>{{ umi.value }}/{{user.userMatchesInfo?.total}}</span>
              </div>
            </div>


            <div class="stats">
              <div>
                <div class="title">Matches</div>
                <i class="bi bi-controller"></i>
                <div class="value">{{user.userMatchesInfo?.total}}</div>
              </div>
              <div>
                <div class="title">Win</div>
                <i class="bi bi-trophy"></i>
                <div class="value">{{user.userMatchesInfo?.win}}</div>
              </div>
              <div>
                <div class="title">Draw</div>
                <i class="bi bi-x-lg"></i>
                <div class="value">{{user.userMatchesInfo?.draw}}</div>
              </div>
              <div>
                <div class="title">Lost</div>
                <i class="bi bi-emoji-frown"></i>
                <div class="value">{{user.userMatchesInfo?.lost}}</div>
              </div>

            </div>
          </div>
        </div>
        <div class="general">
          <div class="row">
            <h1 class="mb-4"><strong>{{ user.name }}</strong></h1>
          </div>
          <div class="row justify-content-center">
            <div class="col-sm-6 offset-sm-1"><i class="bi bi-envelope"></i> {{ user.email }}</div>
          </div>
          <span class="more"><i class="bi bi-info-circle"></i><em> Mouse over the card for more info</em></span>
        </div>
      </div>
    </div>

    <div class="col-xl-7 col-sm-12 mt-5">
      <div class="board-container">
        <div class="board" [style.opacity]="endGame ? 0.2 : 1">
          <div *ngFor="let row of this.match.boardList[0].board; let i = index" class="row">
            <button id="button{{ i }}_{{ j }}" (click)="doMovement(i, j)" *ngFor="let col of row; let j = index"
              class="cell rounded-circle" [ngStyle]="{
                'font-size': 0,
                'border-color': col === 'R' ? '#ca161d' : col === 'Y' ? 'yellow' : 'rgb(18, 67, 239)',
                'background-image': col === 'R' ? 'url(../../assets/red.png)' : col === 'Y' ? 'url(../../assets/yellow.png)' : 'none',
                'background-size': 'cover', 
                'background-position': 'center', 
                'background-repeat': 'no-repeat' 
              }" [disabled]="endGame">
              <span *ngIf="col">{{ col }}</span>
              <span *ngIf="!col"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div>
  <div *ngIf="gameBanner" class="winner-text">
    <p *ngIf="this.match.winner?.name !== 'DRAW GAME'; else drawGame">
      The winner is {{ this.match.winner?.name }}
    </p>
    <ng-template #drawGame>
      <p>Draw game</p>
    </ng-template>
  </div>

</div>

<ngb-alert #alert id="modal-alert" [type]="alertType" *ngIf="showAlert">
  {{ messageAlert }}
</ngb-alert>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><i class="bi bi-4-circle"> How to play Four in Line </i></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        4 in Line is a strategy game where two players take turns to place chips on a vertical board with 7
        columns and 6 rows. Each player will have a chip color (which can be seen on their player cards). The game ends
        when one of the players manages to align four chips horizontally, vertically, or diagonally before their
        opponent, or when no more chips can be placed on the board.
        <div class="row justify-content-center">
          <div class="col justify-content-center">
            <div class=" cell rounded-circle" style="border-color: #ca161d;
      background-image: url(../../assets/red.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;">
            </div>
          </div>

          <div class="col justify-content-center">
            <div class=" cell rounded-circle" style="border-color: yellow;
      background-image: url(../../assets/yellow.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>