<div class="text-center">
  <img src="./../assets/logo-no-bg.png" class="img-top" alt="Project Image" />
</div>

<section id="about" class="mt-5 mb-5">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2 id="about-title">About this project</h2>
        <p class="lead">TSyWeb Project</p>
        <div class="mt-3 mb-3">
          <img
            class="badge-language"
            src="https://camo.githubusercontent.com/d2737af1a4caf34d83fc933874a0c907b6419848a41f8e3e914a7c35356ca3cf/68747470733a2f2f696d672e736869656c64732e696f2f7374617469632f76313f7374796c653d666f722d7468652d6261646765266d6573736167653d506f73746d616e26636f6c6f723d464636433337266c6f676f3d506f73746d616e266c6f676f436f6c6f723d464646464646266c6162656c3d"
            alt="badge-postman"
          />
          <img
            class="badge-language"
            src="https://camo.githubusercontent.com/822807a1e77754e8f7eda38b7ca7af442d261b38e332d4ce5b3154526221c379/68747470733a2f2f696d672e736869656c64732e696f2f7374617469632f76313f7374796c653d666f722d7468652d6261646765266d6573736167653d57696e646f777326636f6c6f723d303037384436266c6f676f3d57696e646f7773266c6f676f436f6c6f723d464646464646266c6162656c3d"
            alt="badge-windows"
          />
          <img
            class="badge-language"
            src="https://img.shields.io/badge/Java-ED8B00?style=for-the-badge&logo=openjdk&logoColor=white"
            alt="badge-java"
          />
          <img
            class="badge-language"
            src="https://img.shields.io/badge/Spring_Boot-F2F4F9?style=for-the-badge&logo=spring-boot"
            alt="badge-spring-boot"
          />
          <img
            class="badge-language"
            src="https://img.shields.io/badge/Selenium-43B02A?style=for-the-badge&logo=Selenium&logoColor=white"
            alt="badge-selenium"
          />
          <img
            class="badge-language"
            src="https://img.shields.io/badge/angular.js-%23E23237.svg?style=for-the-badge&logo=angularjs&logoColor=white"
            alt="badge-angular-js"
          />
          <img
            class="badge-language"
            src="https://img.shields.io/badge/bootstrap-%238511FA.svg?style=for-the-badge&logo=bootstrap&logoColor=white"
            alt="badge-bootstrap"
          />
        </div>
        <ul>
          <li>
            This project is a web platform designed to provide users with an
            interactive gaming experience and the ability to communicate through
            a real-time chat. The application is built using modern technologies
            such as Spring Boot for the backend and Angular for the frontend,
            with the inclusion of WebSockets to enable real-time communication.
          </li>
          <li>
            <strong>Real-Time Chat:</strong> The platform offers users the
            ability to communicate with each other through a real-time chat.
            Users can send text messages, and enjoy an interactive conversation
            experience.
          </li>
          <li>
            <strong>Online Games:</strong> The platform offers two exciting
            online games that users can enjoy. These games are accessible
            directly from the web browser, and users can compete against each
            other in real-time.
          </li>
          <li>
            <strong>MySQL Database:</strong> User information, profiles, and
            game data are stored in a MySQL database to keep track of user
            activity and game progress.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="bg-light mt-5 mb-5" id="license">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2>License</h2>
        <img
          class="badge-language mt-3 mb-3"
          src="https://img.shields.io/badge/%20📑Licencia:-MIT-red"
          alt="badge-license"
        />

        <p>
          Permission is hereby granted, free of charge, to any person obtaining
          a copy of this software and associated documentation files (the
          "Software"), to use the Software without restriction, including
          without limitation the rights to use, copy, modify, merge, publish,
          distribute, sublicense, and/or sell copies of the Software, and to
          permit persons to whom the Software is furnished to do so, subject to
          the following conditions:
        </p>
        <p>
          The above copyright notice and this permission notice shall be
          included in all copies or substantial portions of the Software.
        </p>
        <p>
          THE SOFTWARE IS PROVIDED "AS IS," WITHOUT WARRANTY OF ANY KIND,
          EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
          MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND
          NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
          LIABLE FOR ANY CLAIM, DAMAGES, OR OTHER LIABILITY, WHETHER IN AN
          ACTION OF CONTRACT, TORT, OR OTHERWISE, ARISING FROM, OUT OF, OR IN
          CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
          SOFTWARE.
        </p>
      </div>
    </div>
  </div>
</section>
